@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
   themes: all;
 }

 #illinois-path {
    stroke: #ffffff;
    stroke-width: 2;
    opacity: 0.3;
  }

 #railroad-path {
    stroke: #ffea00;
    stroke-width: 6;
    fill: none;
    opacity: 0.7;
  }

  .oak {
    stroke: #FF7549; 
    stroke-width: 4;
    /* opacity: 0.7; */
  }

  .text-oak {
    color: #FF7549;
  }

  .chestnut {
    stroke: #3556FC;
    stroke-width: 4;
    /* opacity: 0.7; */
  }

  .text-chestnut {
    color: #3556FC;
  }

  .rail {
    stroke: #ffea00;
    stroke-width: 2;
    opacity: 0.7;
  }

  .text-rail {
    color: #ffea00;
    opacity: 0.7;
  }

  .grid {
    stroke: #ffffff;
    opacity: 0.8;
  }

  .text-grid {
    color: #ffffff;
    opacity: 0.8;
  }

  .allpaths {
    stroke: #ffffff;
    opacity: 0.1;
  }

  .text-allpaths {
    color: #ffffff;
    opacity: 0.1;
  }